.ab{
    
    
    margin-left: px;
    

    
    
}
  


.dropdown{

    width: 800px;
    background-color: rgb(1, 1, 17);
    border: rgb(1, 1, 32);
    height: 35px;
    border-radius: 5px;
    align-items: unset;
    color: snow;
    opacity: 0.5;
    padding-left: 10px;
    padding-top: 5px;
}        